@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --font-sans: "Roboto", Arial, Helvetica, sans-serif;
}

@theme inline {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  /* Jika kamu pakai Geist Mono */
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  color: var(--foreground);
  font-family: var(--font-sans);
}
